<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css"
  </head>
  <body>
    {{>header}}
    <div class="container">
      </br>
    {{{body}}}
    </div>
  <script src="/javascripts/jquery-3.2.1.min"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    
  </body>
</html>
